In [3]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 380.1 kB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [4]:
import pandas as pd
import psycopg2

# 1. Konfigurasi Koneksi ke Warehouse
db_config = {
    "host": "postgres-warehouse",
    "port": "5432",
    "database": "f1_datawarehouse",
    "user": "warehouse_user",
    "password": "warehouse_password"
}
conn = psycopg2.connect(**db_config)

# 2. Cek Jumlah Data di Tabel Baru 'lap_telemetry_full'
try:
    query = "SELECT count(*) as total_rows FROM lap_telemetry_full"
    df_count = pd.read_sql(query, conn)
    
    total_data = df_count['total_rows'][0]
    print(f"\nTOTAL DATA: {total_data:,} Baris")
    
    # Validasi
    if total_data > 50000:
        print("Data detail (Lap-Level) sudah tersimpan.")
    else:
        print("Jumlah data sedikit. Cek apakah filter terlalu ketat.")

    # 3. Intip 5 Data Teratas
    print("\n5 DATA TERATAS")
    df_sample = pd.read_sql("SELECT * FROM lap_telemetry_full LIMIT 5", conn)
    display(df_sample)

except Exception as e:
    print(f"Error: {e}")
    print("Kemungkinan tabel 'lap_telemetry_full' belum terbentuk.")

finally:
    conn.close()

TOTAL DATA: 55,848 Baris
Data detail (Lap-Level) sudah tersimpan.

5 DATA TERATAS

/tmp/ipykernel_143/4020348500.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_count = pd.read_sql(query, conn)
/tmp/ipykernel_143/4020348500.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sample = pd.read_sql("SELECT * FROM lap_telemetry_full LIMIT 5", conn)

,AirTemp,Avg_Brake_Pressure,Avg_Corner_Speed,Avg_RPM,Circuit,Compound,Driver,EventName,Full_Throttle_Pct,Gear_Changes,...,SpeedI1,SpeedI2,SpeedST,Team,TrackTemp,TyreLife,Year,_id,LapTime_Minutes,Is_High_Speed
0,NaN,1.0,145.779298,9769.327608,Melbourne,ULTRASOFT,HAM,Australian Grand Prix,35.173299,64,...,248.0,270.0,146.0,Mercedes,NaN,1,2018,69283831ceed5de4ef67b146,1.798817,1
1,NaN,1.0,172.049882,10707.407426,Melbourne,ULTRASOFT,HAM,Australian Grand Prix,62.321145,41,...,281.0,290.0,313.0,Mercedes,NaN,2,2018,69283831ceed5de4ef67b147,1.396700,1
2,NaN,1.0,153.670028,9306.332604,Melbourne,ULTRASOFT,HAM,Australian Grand Prix,15.130024,43,...,205.0,254.0,288.0,Mercedes,NaN,3,2018,69283831ceed5de4ef67b148,1.875600,1
3,NaN,1.0,173.740135,10640.665293,Melbourne,ULTRASOFT,HAM,Australian Grand Prix,62.460064,40,...,283.0,292.0,312.0,Mercedes,NaN,4,2018,69283831ceed5de4ef67b149,1.387717,1
4,NaN,1.0,148.711431,9021.568338,Melbourne,ULTRASOFT,HAM,Australian Grand Prix,10.638298,37,...,153.0,259.0,229.0,Mercedes,NaN,5,2018,69283831ceed5de4ef67b14a,1.979183,1